---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="À propos | Diogo Ferreira"
  description="À propos de Diogo Ferreira et de son parcours."
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="À propos"
        tagline="Merci de votre visite. Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.webp"
          srcset="
    /assets/at-work-800w.webp 800w,
    /assets/at-work.webp 1553w
  "
          sizes="(max-width: 768px) 100vw, 800px"
          alt="Diogo Ferreira au travail avec un collègue"
          fetchpriority="high"
          decoding="async"
          loading="eager"
        />
      </Hero>

      <section>
        <h2 class="section-title">Parcours</h2>
        <div class="content">
          <p>
            Passionné d'informatique depuis mon enfance, j'ai choisi de faire de
            ma passion une reconversion professionnelle en me spécialisant dans
            le développement web et d'applications. Ayant validé ma
            certification de développeur web avec un diplôme de niveau Bac+2, et
            initié un diplôme niveau Bac +3 je suis à la recherche d'un poste de
            concepteur/développeur web (en alternance (renouvelable) dés
            maintenant ou CDD/CDI à compter de Septembre 2024). Motivé, curieux
            et rigoureux, je suis prêt à relever de nouveaux défis et à
            contribuer au succès de votre entreprise.
          </p>
          <p>
            Tout au long de mon parcours professionnel, j'ai eu l'opportunité de
            travailler avec des technologies variées telles que JavaScript, PHP,
            SQL, et CSS. Mon approche centrée sur la satisfaction client et ma
            capacité à m'adapter rapidement aux nouvelles technologies m'ont
            permis de mener à bien plusieurs projets complexes. Je suis
            constamment à la recherche de nouvelles opportunités pour innover et
            améliorer mes compétences.
          </p>
          <p>
            En dehors du travail, je suis passionné par l'informatique et les
            tendances technologiques, explorant constamment de nouvelles
            innovations dans divers domaines.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Éducation</h2>
        <div class="content">
          <p>Concepteur d’applications Web et mobiles (Bac+3 - en cours)</p>
          <p>Développeur d’applications Web et mobiles (Bac+2)</p>
          <p>Bac Pro SEID (informatique et électronique) - 2009</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Compétences</h2>
        <div class="content">
          <p>
            Tecnhos : JavaScript, React.js, Next.js, PHP, Symfony, SQL, CSS, Git
          </p>
          <p>Mobile : Quelques expériencesavec Swift, Kotlin et Flutter</p>
          <p>
            Soft Skills : Esprit d’équipe, curieux, dynamique, organisé, à
            l'écoute
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
