---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="À propos | Diogo Ferreira"
  description="À propos de Diogo Ferreira et de son parcours."
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="À propos"
        tagline="Merci de votre visite. Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Diogo Ferreira au travail avec un collègue"
        />
      </Hero>

      <section>
        <h2 class="section-title">Parcours</h2>
        <div class="content">
          <p>
            Passionné par le développement web, je suis Diogo Ferreira, un
            développeur basé à Bastia, Corse. J'ai commencé mon parcours dans la
            programmation lors de mes études secondaires, où j'ai découvert mon
            intérêt pour la création de solutions web innovantes. Après avoir
            obtenu mon diplôme, j'ai poursuivi des études en informatique, ce
            qui m'a permis d'approfondir mes connaissances en développement web
            et d'acquérir des compétences en utilisant diverses technologies.
            Actuellement, je continue à développer mes compétences tout en
            travaillant sur des projets passionnants pour divers clients.
          </p>
          <p>
            Tout au long de mon parcours professionnel, j'ai eu l'opportunité de
            travailler avec des technologies variées telles que JavaScript, PHP,
            SQL, et CSS. Mon approche centrée sur la satisfaction client et ma
            capacité à m'adapter rapidement aux nouvelles technologies m'ont
            permis de mener à bien plusieurs projets complexes. Je suis
            constamment à la recherche de nouvelles opportunités pour innover et
            améliorer mes compétences.
          </p>
          <p>
            En dehors du travail, je suis un passionné de technologie et j'aime
            explorer les nouvelles tendances dans le développement web. Mon
            objectif est de continuer à apprendre et à évoluer dans ce domaine
            dynamique, en apportant des solutions efficaces et créatives aux
            défis de mes clients.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Éducation</h2>
        <div class="content">
          <p>Baccalauréat Scientifique</p>
          <p>Diplôme en Informatique - Université de Corse</p>
          <p>Formation continue en Développement Web (en cours)</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Compétences</h2>
        <div class="content">
          <p>
            JavaScript, React.js, Next.js, PHP, Symfony, Laravel, SQL, MySQL,
            PostgreSQL, CSS, Sass, TailwindCSS, Git, GitHub, GitLab
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
