---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="À propos | Diogo Ferreira"
  description="À propos de Diogo Ferreira et de son parcours."
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="À propos"
        tagline="Du code à la gestion de projet — voici mon parcours en pleine ascension 🚀"
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.webp"
          srcset="
    /assets/at-work-800w.webp 800w,
    /assets/at-work.webp 1553w
  "
          sizes="(max-width: 768px) 100vw, 800px"
          alt="Diogo Ferreira au travail avec un collègue"
          fetchpriority="high"
          decoding="async"
          loading="eager"
        />
      </Hero>

      <section>
        <h2 class="section-title">Parcours</h2>
        <div class="content">
          <p>
            Développeur web diplômé (Bac+3), j’ai fait de ma passion pour la
            tech un véritable projet de vie. Curieux, rigoureux et toujours à
            l’écoute, j’évolue aujourd’hui vers un rôle de Chef de Projet
            Digital.
          </p>
          <p>
            J’ai mené à bien plusieurs projets en utilisant des stacks comme
            JavaScript, PHP, SQL et Symfony. Mon objectif ? Allier vision
            stratégique et compétences techniques pour créer des solutions
            durables et efficaces.
          </p>
          <p>
            Ambitieux mais humble, j’avance avec méthode et envie d’apprendre,
            toujours tourné vers l’humain et la réussite collective.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Éducation</h2>
        <div class="content">
          <p>Concepteur d’applications Web et mobiles (Bac+3 – obtenu)</p>
          <p>Développeur d’applications Web et mobiles (Bac+2)</p>
          <p>Bac Pro SEID (informatique et électronique) – 2009</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Compétences</h2>
        <div class="content">
          <p>
            Tech : JavaScript, React.js, Next.js, PHP, Symfony, SQL, CSS, Git
          </p>
          <p>Mobile : Notions de Swift, Kotlin et Flutter</p>
          <p>
            Soft skills : Esprit d’équipe, organisé, curieux, à l’écoute,
            toujours motivé
          </p>
          <p>
            🌟 Aujourd’hui développeur, demain chef de projet — toujours au
            service d’idées qui ont du sens.
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
